# Transforming Testing Data

Below I am preparing the testing data for model testing in a later notebook. Everything done is explained in detail in other jupyter notebooks. This notebook is mainly used for organization and preventing cluttering.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
import string
from nltk.corpus import stopwords


import nltk

In [18]:
# Importing Files. Train dataset imported to get countvectorize vocabulary
train = pd.read_csv('datasets/spam.csv', encoding = 'latin1')
test = pd.read_csv('datasets/test.csv')
test.head()

  class                                                sms
0   ham  C movie is juz last minute decision mah. Juz w...
1  spam  Show ur colours! Euro 2004 2-4-1 Offer! Get an...
2   ham             Dont let studying stress you out. L8r.
3   ham  Merry Christmas to you too babe, i love ya *ki...
4   ham                 Why did I wake up on my own &gt;:(

In [19]:
train

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [3]:
# char_length
test['char_length'] = test['sms'].apply(len)

# numerical label
label = {'ham': 0, 'spam': 1}
test['spam'] = test['class'].map(label)

#lowercase for countvectorizer
test['sms'] = test['sms'].str.lower()

In [20]:
def text_cleaning(word):
    
    # words to remove
    remove_words = list(stopwords.words('english')) + ['u', 'ur', '2', '4', 'ü']
    
    # removing punctuation
    no_punc = []
    for char in word:
        if char not in string.punctuation:
            no_punc.append(char)
    
    puncless = ''.join(no_punc)
    
    # return cleaned sms message
    return ' '.join([text for text in puncless.split() if text not in remove_words])

test['sms'] = test['sms'].apply(text_cleaning)
train['v2'] = train['v2'].apply(text_cleaning)
test.head()

  class                                                sms
0   ham  C movie juz last minute decision mah Juz watch...
1  spam  Show colours Euro 2004 241 Offer Get England F...
2   ham                       Dont let studying stress L8r
3   ham                Merry Christmas babe love ya kisses
4   ham                                      Why I wake gt

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer


vectorizer = CountVectorizer()

#Creating a vocabulary dictionary
vectorizer.fit(train['v2'])
document_matrix = vectorizer.transform(test['sms'])
test_tfidf = TfidfTransformer().fit_transform(document_matrix)

test = pd.DataFrame(test_tfidf.toarray(), columns = vectorizer.get_feature_names())
test.head()

,008704050406,0089my,0121,01223585236,01223585334,0125698789,02,020603,0207,02070836089,...,ìï,ìïll,ûthanks,ûªm,ûªt,ûªve,ûï,ûïharry,ûò,ûówell
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer

# Fitting the Dictionary
tftransformer = TfidfTransformer().fit(train_count)